<div #tarjeta class="tarjeta" [ngStyle]="{'width': ancho, 'height': alto }">
  <div class="tarjeta_titulo" *ngIf="titulo">{{titulo}}</div>
  <div class="tarjeta_contenido">
    <ng-content #contenido></ng-content>
  </div>
  <div class="tarjeta_pie" *ngIf="verPie">{{pie}}</div>
</div>
