:host {
  pointer-events: all;
}

.tarjeta {
  position: relative;
  background-color: #fff;
  border: 1px solid #cfcfcf;
  display: flex;
  flex-direction: column;
  border-radius: 3px;
  box-shadow: 0 1px 4px 0 rgb(0 0 0 / 10%);
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  overflow: hidden;

  &_titulo {
    color: #656565;
    background-color: #fafafa;
    font-size: 1.2rem;
    padding: 5px 10px;
    height: 30px;
    border-bottom: 1px solid #ebebeb;
  }

  &_contenido {
    position: relative;
    display: flex;
    flex: 1 1 auto;
    padding: 20px;
    box-sizing: border-box;
    overflow: auto;
  }

  &_pie {
    position: relative;
    height: 1.6rem;
    color: #656565;
    padding: 2px 8px;
    background-color: #fafafa;
    border-top: 1px solid #ebebeb;
    box-sizing: border-box;
    text-align: center;
    font-size: 0.8rem;
    font-style: italic;
    text-transform: capitalize;
  }
}
