:host,
.contenido {
  position: relative;
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  flex: 1 1 auto;
  justify-content: center;
  justify-items: center;
  align-items: center;
}

.padding {
  padding: 20px;
}

.info {
  width: 70%;
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
}
