<div class="contenido">
  <dx-tab-panel [width]="'100%'" [height]="'100%'" [dataSource]="opcionesCarga" [selectedIndex]="0" [loop]="false" [animationEnabled]="true">
    <div *dxTemplate="let opcion of 'title'">
      <span>{{opcion.descripcion}}</span>
    </div>
    <div *dxTemplate="let opcion of 'item'" [ngSwitch]="opcion.id">
      <div *ngSwitchCase="1" class="contenido">
        <dx-file-manager [height]="'100%'" [fileSystemProvider]="archivos" selectionMode="single" (onSelectedFileOpened)="cargarImagen($event)" [customizeThumbnail]="iconoPersonalizado">
          <dxo-item-view [showParentFolder]="false" mode="thumbnails">
            <dxo-details>
              <dxi-column dataField="thumbnail"></dxi-column>
              <dxi-column dataField="name"></dxi-column>
            </dxo-details>
          </dxo-item-view>
          <dxo-toolbar></dxo-toolbar>
        </dx-file-manager>
      </div>
      <div *ngSwitchDefault class="contenido padding">
        <div appDragDrop class="contenido">
          <div class="info">Arrastrar imagen aquí para analizar</div>
        </div>
      </div>
    </div>
  </dx-tab-panel>
</div>
