.header {
  width: 100%;
  height: 5%;
  display: flex;
  background-color: #ffffff;
  border-bottom: solid 1px rgba(0, 0, 0, 0.25);
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  align-content: center;
  box-shadow: 0 0px 2.1px rgba(0, 0, 0, 0.101), 0 0px 3px rgba(0, 0, 0, 0.149), 0 0px 5px rgba(0, 0, 0, 0.25);

  &_titulo {
    font-weight: bold;
    font-size: 1.6rem;
  }

  &_icono {
    font-size: 2rem;
  }
}
