<app-header titulo="OCR con Angular"></app-header>

<div class="main">
  <app-tarjeta titulo="Origen de la imagen" alto="600px" ancho="610px">
    <app-seleccionar-imagen></app-seleccionar-imagen>
  </app-tarjeta>

  <app-tarjeta titulo="Imagen" ancho="500px" alto="600px" [verPie]="true" [pie]="progresoAnalisis">
    <app-visor-imagen (progresoAnalisis)="actualizarProgresoAnalsis($event)"></app-visor-imagen>
    <app-spinner *ngIf="progresoAnalisis"></app-spinner>
  </app-tarjeta>

  <app-tarjeta titulo="Texto encontrado" ancho="400px" alto="600px">
    <app-texto-salida></app-texto-salida>
  </app-tarjeta>
</div>
