.main {
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-items: center;
  justify-content: space-evenly;
  height: 95%;
}

::ng-deep {

  .dx-drawer-panel-content.dx-drawer-panel-content-initial,
  .dx-filemanager-breadcrumbs {
    display: none !important;
  }

  .dx-tabpanel>.dx-tabpanel-tabs .dx-tab {
    width: 200px;
  }
}
