:host {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
}

.visor-imagen {
  display: flex;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  justify-items: center;

  &_canvas {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: contain;
    background-repeat: no-repeat;
    background-position: center;
  }

  &_imagen {
    width: 100%;
    height: 100%;
    object-fit: contain;
    background-repeat: no-repeat;
    background-position: center;
  }
}
