<div class="visor-imagen">
  <ng-container *ngIf="url; then thenTemplate; else elseTemplate"></ng-container>
  <ng-template #thenTemplate>
    <canvas #imagenCanvas class="visor-imagen_canvas"></canvas>
    <img #imagenOriginal class="visor-imagen_imagen" alt="" [src]="url" (load)="analizarImagen()">
  </ng-template>
  <ng-template #elseTemplate>
    <img class="visor-imagen_imagen" src="./../../../assets/images/sin-imagen.jpg" alt="">
  </ng-template>
</div>
