/* You can add global styles to this file, and also import other style files */
html,
body {
  padding: 0;
  margin: 0;
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  font-family: 'IBM Plex Sans', sans-serif;
  background-color: #e7e9ed;
}
